.fac_1{
    width: auto;
    height: 600px;
    margin-top: 150px;
}
@media screen and (max-width: 1500px){
    .fac_1{
        margin-top: 0px;
    }
} 
.fac_2{
    width: 50%;
    height: 300px;
    float: left;
}
@media screen and (max-width:1500px) {
    .fac_2{
        height: 250px;
    }
}
.f2_1{
    width: auto;
    height: 300px;
}
@media  screen and (max-width:1500px) {
    .f2_1{
        margin-left: auto;
        margin-right: auto;
        width: auto;

    }
} 
.f2_2{
    width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.f2_3{
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 480px;
        margin-left:350px;
        text-align:left;
        margin-top: -20px;
}
@media screen and (max-width:1500px) {
    .f2_3{
        font-size: 25px;
        font-weight: normal;
        width: 400px;
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
    } 
}
.fac_3{
    width: 50%;
    height: 500px;
    float: right;
}
.f3_1{
    width: 400px;
    height: 500px;
    border-radius:10px ;
    margin-left: auto;
    margin-right: auto;
}
.f3_2{
    width: 400px;
    height: 400px;
    background-color:#ffffff;
    border-radius:10px ;
}
.f3_3{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.f3_4{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}
.f3_5{
    color:blue;
    text-align: center;
    margin: 20px;
}
.f3_6{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bold; 
}
.f3_7{
    color: black;
    text-align: center;
    margin: 25px;
}