/*LOGIN */

.fac_1{
    width: auto;
    height: 600px;
    margin-top: 150px;
}
@media screen and (max-width: 1500px){
    .fac_1{
        margin-top: 0px;
    }
} 
.fac_2{
    width: 50%;
    height: 300px;
    float: left;
}
@media screen and (max-width:1500px) {
    .fac_2{
        height: 250px;
    }
}
.f2_1{
    width: auto;
    height: 300px;
}
@media  screen and (max-width:1500px) {
    .f2_1{
        margin-left: auto;
        margin-right: auto;
        width: auto;

    }
} 
.f2_2{
    width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.f2_3{
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 480px;
        margin-left:350px;
        text-align:left;
        margin-top: -20px;
}
@media screen and (max-width:1500px) {
    .f2_3{
        font-size: 25px;
        font-weight: normal;
        /*width: 400px; */
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
    } 
}
.fac_3{
    width: 50%;
    height: 500px;
    float: right;
}
.f3_1{
    width: 400px;
    height: 500px;
    border-radius:10px ;
    margin-left: auto;
    margin-right: auto;
}
.f3_2{
    width: 400px;
    height: 400px;
    background-color:#ffffff;
    border-radius:10px ;
}
.f3_3{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.f3_4{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}
.f3_5{
    color:blue;
    text-align: center;
    margin: 20px;
}
.f3_6{
    width: 360px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bold; 
}
.f3_7{
    color: black;
    text-align: center;
    margin: 25px;
}





/*SIGNUP*/


    /*add full-width input fields*/
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
    }
    /* set a style for all buttons*/
    button {
        background-color: green;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 100%;
    }
    /*set styles for the cancel button*/
    .cancelbtn {
        padding: 14px 20px;
        background-color: #FF2E00;
    }
    /*float cancel and signup buttons and add an equal width*/
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%
    }
    /*add padding to container elements*/
    .container {
        padding: 16px;
    }
    /*define the modal’s background*/
     

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color:none;
        padding-top: 60px;
    }
    .modal_1{
        margin-top: 250px;
        width: 25%;
        height: 550px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border: solid gray;
        border-radius: 10px;
      }



   /* .modal {
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
        border: solid black;
        border-radius: 10px;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 25%;
        height: 500px;
        overflow: auto;
        background-color: #f7f7f7;
        padding-top: 60px;
    } */
    /*define the modal-content background*/
     
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }
    /*define the close button*/
     
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        color: #000;
        font-size: 40px;
        font-weight: bold;
    }
    /*define the close hover and focus effects*/
     
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
     
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
     
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
    .s1{
        background-color: black;
        width: 300px;
        height: 400px;
    }